:root{
//fonts
--header-font: "Caveat";
--title-font: "RobotoSlab",
sans-serif;
--text-font: "Roboto",
sans-serif;

//colors
--neutral-color: #ffffff;
--basic-color: #000000;
--base-color: #304268;
--footer__background--color: #c1c7d1;
--details--color: #8ccbea;
--interactions: #FADBD8;
}