<router-outlet></router-outlet>

<footer >
    <div class="footer">
    <small>
        <span class="footer-love">
            <span class="we">Made with </span>
            <span class="heart">&#10084;</span>
            <span> by Alejandra S.C.</span>
            <span class="footer-copyright"> &copy; 2021 </span>
        </span>
    </small>     
      <a href="https://github.com/AlejandraSC" target="_blanc"><i class="pi pi-github" style="color: var(--base-color)"></i></a>
    </div>
</footer>