<header class="header-container">
    <img src="../assets/images/header.jpg" class="header-image">
    <div class="header-title">¿Buscas la vivienda de tus sueños?</div>
</header>

<div class="item-list__container">
    <p-card *ngFor="let home of homes; let i = index" class="card-container">
        <p-carousel [numVisible]="5" [value]="home.images" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
                <img class="item-list__image" [src]="image.url" (click)="goToGallery(home, image)">
            </ng-template>
        </p-carousel>
        <p class="home-title">{{home.name}}</p>
    </p-card>
</div>