.header-container {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-items: center;
    font-family: var(--title-font);
  }
  .texto-encima {
    position: absolute;
    align-content: center;
    top: 72%;
    left: 5%;
    color: var(--neutral-color);
    font-size: 20px;
  }
  
  .header-image {
    width: 100%;
  }
  